<div>
  <nav class="panel">
    <p class="panel-heading">
      Editor
    </p>
    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Search">
        <span class="icon is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>
    <p class="panel-tabs">
      <a class="is-active">All</a>
      <a>Public</a>
      <a>Private</a>
      <a>Sources</a>
      <a>Forks</a>
    </p>
    <a class="panel-block is-active">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      bulma
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      marksheet
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      minireset.css
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      jgthms.github.io
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-code-branch" aria-hidden="true"></i>
      </span>
      daniellowtw/infboard
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-code-branch" aria-hidden="true"></i>
      </span>
      mojs
    </a>
    <label class="panel-block">
      <input type="checkbox">
      remember me
    </label>
    <div class="panel-block">
      <button class="button is-link is-outlined is-fullwidth">
        Reset all filters
      </button>
    </div>
  </nav>
  <b-button
    label="Launch component modal"
    type="is-primary"
    size="is-medium"
    @click="openModal()" />
  <b-modal
    :active="modalIsOpen"
    has-modal-card
    full-screen
    :can-cancel="false">
    <div class="modal-card" style="width: auto">
      <header class="modal-card-head">
        <p class="modal-card-title">Editor</p>
      </header>
      <section class="modal-card-body" style="overflow:hidden">
        <div class="columns" style="height: 100%;">
          <div class="column is-3" style="overflow: auto;">
            <b-menu>
              <b-menu-list label="Local Storage">
                <b-menu-item v-for="key in localStorageKeys" v-bind:label="key" v-on:click="openKey(key)"></b-menu-item>
              </b-menu-list>
              <b-menu-list label="Session Storage">
                <b-menu-item v-for="key in sessionStorageKeys" v-bind:label="key" v-on:click="openKey(key, 'session')"></b-menu-item>
              </b-menu-list>
            </b-menu>
          </div>
          <div class="column is-9">
            <div :style="styles.fullHeight">
              <div :style="styles.toolBar">
                top tools
              </div>
              <div :style="styles.grower">
                <coder :code="contentFromStorage" :mode="modeFromStorage" @editor-code-changed="updateContent" />
              </div>
              <div :style="styles.toolBar">
                <button class="button" @click="save()">Save</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </b-modal>
</div>
